DBservice290415/SnakeDBservice/Snakeclient/Web References/localhost/Snakeservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Findsnake">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="snakeid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindsnakeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindsnakeResult" type="tns:Answer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Answer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="S" type="tns:Snake" />
          <s:element minOccurs="0" maxOccurs="1" name="O" type="tns:Owner" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Snake">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Ownerid" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Owner">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FindsnakeSoapIn">
    <wsdl:part name="parameters" element="tns:Findsnake" />
  </wsdl:message>
  <wsdl:message name="FindsnakeSoapOut">
    <wsdl:part name="parameters" element="tns:FindsnakeResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:portType name="SnakeserviceSoap">
    <wsdl:operation name="Findsnake">
      <wsdl:input message="tns:FindsnakeSoapIn" />
      <wsdl:output message="tns:FindsnakeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SnakeserviceSoap" type="tns:SnakeserviceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Findsnake">
      <soap:operation soapAction="http://tempuri.org/Findsnake" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SnakeserviceSoap12" type="tns:SnakeserviceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Findsnake">
      <soap12:operation soapAction="http://tempuri.org/Findsnake" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Snakeservice">
    <wsdl:port name="SnakeserviceSoap" binding="tns:SnakeserviceSoap">
      <soap:address location="http://localhost:49510/Snakeservice.asmx" />
    </wsdl:port>
    <wsdl:port name="SnakeserviceSoap12" binding="tns:SnakeserviceSoap12">
      <soap12:address location="http://localhost:49510/Snakeservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>