CS4Services/CS4Services/Web References/CalcService/CalcService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="TotalPoints">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="c" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TotalPointsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TotalPointsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AveragePoints">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="c" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AveragePointsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AveragePointsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSorted">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="a" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="b" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="c" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSortedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSortedResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TotalPointsSoapIn">
    <wsdl:part name="parameters" element="tns:TotalPoints" />
  </wsdl:message>
  <wsdl:message name="TotalPointsSoapOut">
    <wsdl:part name="parameters" element="tns:TotalPointsResponse" />
  </wsdl:message>
  <wsdl:message name="AveragePointsSoapIn">
    <wsdl:part name="parameters" element="tns:AveragePoints" />
  </wsdl:message>
  <wsdl:message name="AveragePointsSoapOut">
    <wsdl:part name="parameters" element="tns:AveragePointsResponse" />
  </wsdl:message>
  <wsdl:message name="GetSortedSoapIn">
    <wsdl:part name="parameters" element="tns:GetSorted" />
  </wsdl:message>
  <wsdl:message name="GetSortedSoapOut">
    <wsdl:part name="parameters" element="tns:GetSortedResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:portType name="CalcServiceSoap">
    <wsdl:operation name="TotalPoints">
      <wsdl:input message="tns:TotalPointsSoapIn" />
      <wsdl:output message="tns:TotalPointsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AveragePoints">
      <wsdl:input message="tns:AveragePointsSoapIn" />
      <wsdl:output message="tns:AveragePointsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSorted">
      <wsdl:input message="tns:GetSortedSoapIn" />
      <wsdl:output message="tns:GetSortedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CalcServiceSoap" type="tns:CalcServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TotalPoints">
      <soap:operation soapAction="http://tempuri.org/TotalPoints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AveragePoints">
      <soap:operation soapAction="http://tempuri.org/AveragePoints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSorted">
      <soap:operation soapAction="http://tempuri.org/GetSorted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CalcServiceSoap12" type="tns:CalcServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TotalPoints">
      <soap12:operation soapAction="http://tempuri.org/TotalPoints" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AveragePoints">
      <soap12:operation soapAction="http://tempuri.org/AveragePoints" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSorted">
      <soap12:operation soapAction="http://tempuri.org/GetSorted" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalcService">
    <wsdl:port name="CalcServiceSoap" binding="tns:CalcServiceSoap">
      <soap:address location="http://localhost:51269/CalcService.asmx" />
    </wsdl:port>
    <wsdl:port name="CalcServiceSoap12" binding="tns:CalcServiceSoap12">
      <soap12:address location="http://localhost:51269/CalcService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>